  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-md-3">
          <h6>Product</h6>
          <ul class="footer-links">
            <li><a href="#">iOS App</a></li>
            <li><a href="#">Android App</a></li>
            <li><a href="#">Group Plans</a></li>
            <li><a href="#">How it works?</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Company</h6>
          <ul class="footer-links">
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Press Kit</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">News</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Support</h6>
          <ul class="footer-links">
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Report a BUG</a></li>
            <li><a href="#">Request a Feature</a></li>
            <li><a href="#">WIKI</a></li>
          </ul>
        </div>
        <div class="col-xs-6 col-md-3">
          <h6>Developers</h6>
          <ul class="footer-links">
            <li><a href="#">API v1</a></li>
            <li><a href="#">Data Display Tool</a></li>
            <li><a href="#">Guidance</a></li>
            <li><a href="#">Add-on Extensions</a></li>
          </ul>
        </div>
        <div class="col-xs-6 col-md-3">
          <h6>Social</h6>
          <ul class="footer-links">
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">X</a></li>
            <li><a href="#">Tumblr</a></li>
          </ul>
        </div>

      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2024. All Rights Resesrved by Task Tales.
          </p>
        </div>

      </div>
    </div>
</footer>