<div class="container">
  <div class="header">
    <h1 class="title">Task Tales</h1>
    <img src="/assets/img/logo.png" alt="Task Tales Logo" class="logo" />
  </div>

  <!-- Login Form -->
  <div class="form-container">
    <input
      type="text"
      id="username"
      class="input-field"
      placeholder="Username"
    />
    <input
      type="password"
      id="password"
      class="input-field"
      placeholder="Password"
    />
  </div>
  <button class="cta">
    <a href="/gacha">Start your journey</a>
    <img
      src="/assets/img/pink_heart_icon_homepage.png"
      alt="Icon"
      class="cta-icon"
    />
  </button>
  <div class="button-container">
    <button class="transparent-button">Sign up with Google</button>
    <button class="transparent-button">Sign up with Apple</button>
  </div>

  <!-- Promotional Text -->
  <div class="promo-text">
    <p class="bold-text">Life is a Game so, Gamify Your Life!</p>
  </div>

  <!-- Features Section -->
  <div class="features">
    <div class="feature">
      <img
        src="/assets/img/idle_wizard_homepage_feature_1.gif"
        alt="Feature 1"
        class="feature-icon"
      />
      <p class="feature-text">Level Up in Life</p>
    </div>
    <div class="feature">
      <img
        src="/assets/img/cozy_fireplace_homepage_feature_2.gif"
        alt="Feature 2"
        class="feature-icon"
      />
      <p class="feature-text">Stay Organized and in Control</p>
    </div>
    <div class="feature">
      <img
        src="/assets/img/lone_ranger_dessert_homepage_feature_3.gif"
        alt="Feature 3"
        class="feature-icon"
      />
      <p class="feature-text">And much more!</p>
    </div>
  </div>

  <app-footer></app-footer>
</div>
