body {
  background: linear-gradient(180deg, #6600ff 0%, #9148ff 50%, #ffffff 100%);
}

.main {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
