@font-face {
  font-family: "Gumdrop";
  src: url(/fonts/GUMDROP.ttf) format("truetype");
}
/* src/styles.css */
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Gumdrop', 'Open Sans', sans-serif;
}

body {
  background: linear-gradient(180deg, #6600FF 0%, #9148FF 50%, #FFFFFF 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
